div.starter-template {
    margin-top: 7%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.footer {
    position: absolute;
    width:100%;
    bottom: 0;
    background-color: #222;
    border-color: #080808;
}

.footer p.text-muted {
    margin: 14px 0 14px 0; 
} 
