/**
 * General
 */

body {
    font-size: 1rem;
    line-height: 1.75em;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Inter UI';
}
div.starter-template {
    margin-top: 5%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    div.starter-template {
        margin-top: 16%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    div.starter-template {
        margin-top: 16%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    div.starter-template {
        margin-top: 16%;
    }
}

p.meta {
    color: #e0dede;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h3 small {
    font-size: 0.5em;
}

a > .fa {
  padding-left: 10px;
}

.conf {
    height: 50px;
    margin: 0 auto;
}

.conf-logo {
    text-align: center;
}

/**
 * Navigator
 */
.nav a {
    color: black;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a {
    color: gray;
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    background: black;
}

.navbar-toggle {
    float: none;
    margin-top: 10px;
    margin-left: 10px;
}

/**
 * Error page
 */
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/**
 * Post
 */
.post h2
{
    font-size:1.5em;
}
.post h3
{
    font-size:1.2em;
}
.post h4
{
    font-size:1.0em;
}
.post h5
{
    font-size:0.9em;
}

.post img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.network-list {
    font-size: 0.7em;
    line-height: 0;
}

/**
 * Footer
 */
.footer {
    position: absolute;
    width:100%;
    bottom: 0;
    display:none;
    background-color: #222;
    border-color: #080808;
}

.footer p.text-muted {
    margin: 14px 0 14px 0;
}

/**
 * bs-callout
 */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.hero {
    background-position: center center;
    background-size: cover;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.highlighter-rouge {
    width: 100%;
}

.container-fluid {
    margin-left: 0.5em;
}

.bgimage {
  width:100%;
  height:300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
