---
layout: default
title: Blog
summary: This is a list of my blogpost. I write about developer, PHP, Go, Node,
    devops, aws, automation, saltastack, docker, container and a lot of tech stuff.
tags: devops, developer, blog, post, docker, php
---
<div id="slogan" class="row" style="margin-bottom:50px">
  <div class="col-md-12">
    <div class="text-center">
        <h1>Blog</h1>
        <h2>Share my experience</h2>
    </div>
  </div>
</div>

{% for post in site.posts %}
{% include post_detail.html %}
<hr class="style-two">
{% endfor %}
