---
layout: default
title: "A voice from the cloud all about: monitoring, containers,
distributed system."
tags: [home, developer, gianarb, blog, kubernetes, cncf, doker captain, golang, cloud, automation, blog]
summary: "Gianluca Arbezzano is an SRE at InfluxData. He is a big Open
Source contributor for several projects including and not limited to Zend
Framework, Docker, and InfluxDB. He is also a Docker Captain and a member
of the Doctrine ORM developers team. He is passionate about developing
best practices for developers worldwide and has recently been focused on
building scalable infrastructures on top of AWS, DigitalOcean and
OpenStack.
He is familiar with several programming languages, such as Javascript and
Golang and is an active speaker at conferences throughout Europe, sharing
his experiences and knowledge on projects that he is leading. This is my blog."


---
<div id="blog" class="row">
    <h3>Posts</h3>
    <div class="row">
      <div class="col-md-12">
          {% for post in site.categories['post'] %}
              {% include short_post.html %}
          {% endfor %}
      </div>
    </div>
</div>
