---
layout: default
title: Blog
summary: This is a list of my blogpost. I write about developer, PHP, Go, Node,
    devops, aws, automation, saltastack, docker, container and a lot of tech stuff.
tags: devops, developer, blog, post, docker, php
---
<div id="slogan" class="row" style="margin-bottom:50px">
  <div class="col-md-9">
    <div class="text-center">
        <h1>Blog</h1>
        <h2>Share my experience</h2>
    </div>
    {% for post in site.posts %}
        {% if post.categories contains 'post' %}
            {% include post_detail.html %}
            <hr class="style-two">
        {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-3" style="background:#F1F1F1;min-height:100%">
    <div>
        <h2>Network</h2>
        <div class="row">
          <div class="col-md-12">
              <img class="img-responsive text-center" style="max-height:70px;margin:auto;" src="/img/cf.png">
              <ul>
                  <li><a class="network-list" href="http://tech.currencyfair.com/2016/04/11/CurrencyFair-Meetup-time-series-and-monitoring#.Vw424xMrIo8" target="_blank">Currencyfair Meetup Time Series And Monitoring</a></li>
                  <li><a class="network-list" href="http://tech.currencyfair.com/2016/03/23/road-to-the-cloudconf#.Vw42yxMrIo8" target="_blank">Road to the CloudConf</a></li>
              </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <img class="img-responsive text-center" style="max-height:70px;margin:auto;" src="/img/spaghetti.png">
              <ul>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/angularjs-cracl-component-focus-on-directive-and-test/55/1.html#.Vw4zZxMrIo8" target="_blank">AngularJs crAcl component focus on directive and test</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/angularjs-test-directive-with-karma-and-jasmine/36/1.html#.Vw4zaBMrIo8" target="_blank">AngularJs test directive with Karma and Jasmine</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/git-history-merge-with-subtree/32/1.html#.Vw4zaRMrIo8" target="_blank">Git history merge with Subtree</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/iteration-between-ngmodel-scope-and-direvtives/25/1.html#.Vw4zahMrIo8" target="_blank">Iteration between ngModel, $scope and direvtives</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/test-api-with-zendtest/28/1.html#.Vw4zbhMrIo8" target="_blank">Test Api with Zend Test</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/package-json-hooks-and-scripts/26/1.html#.Vw4zbxMrIo8" target="_blank">Package.json hooks and scripts</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/angularjs-and-google-analytics/37/1.html#.Vw4zcRMrIo8" target="_blank">AngularJs and Google Analytics</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/manage-statics-assets-with-grunt/27/1.html#.Vw4zchMrIo8" target="_blank">Manage statics assets with Grunt</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/testing-with-karma-and-jasmine/38/1.html#.Vw4zdBMrIo8" target="_blank">Testing with Karma and Jasmine</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/doctrine-migrations-database/35/1.html#.Vw4zdhMrIo8" target="_blank">Doctrine migrations database</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/vagrant-and-aws-provisioning-in-cloud/30/1.html#.Vw4zehMrIo8" target="_blank">Vagrant and AWS provisioning in Cloud</a></li>
                  <li><a class="network-list" href="http://spaghetti.io/cont/article/vagrant-provisioning-with-salt/4/1.html#.Vw4zexMrIo8" target="_blank">Vagrant provisioning with Salt</a></li>
              </ul>
          </div>
        </div>
  </div>
</div>
