---
layout: page
title: My history as speaker and evangelist at tech conferences and events.
summary: "One of they key value for me is to share what I am learning. It is
the best way to figure out new topic and to consolidate my knowledge. That's
what other than writing I am also a tech evangelist and a conference speaker. I
speak about container, docker, observability, monitoring, go, cloud, kubernetes
and a lot more. In this page you can find my next conferences and look at my talks."
tags: [Technology Evangelism, speaker, conference, docker, security, distributed system, mointoring, observability, kubernetes, cncf ambassandor]
---
<div class="row">
    <div class="col-md-12">
        <div id="post" class="row mt-3">
            <div id="slogan" class="row">
                <div class="text-center">
                    <h1>Conferences</h1>
                </div>
            </div>
        </div>

        {% assign talks2020 = site.my_talks | where:'date', "2020" %}
        {% include talks_per_year.html year="2020" url="yes" talks=talks2020 %}

        {% assign talks2019 = site.my_talks | where:'date', "2019" %}
        {% include talks_per_year.html year="2019" talks=talks2019 %}

        {% assign talks2018 = site.my_talks | where:'date', "2018" %}
        {% include talks_per_year.html year="2018" talks=talks2018 %}

        {% assign talks2017 = site.my_talks | where:'date', "2017" %}
        {% include talks_per_year.html year="2017" talks=talks2017 %}

        {% assign talks2016 = site.my_talks | where:'date', "2016" %}
        {% include talks_per_year.html year="2016" talks=talks2016 %}

        {% assign talks2015 = site.my_talks | where:'date', "2015" %}
        {% include talks_per_year.html year="2015" talks=talks2015 %}

        {% assign talks2014 = site.my_talks | where:'date', "2014" %}
        {% include talks_per_year.html year="2014" talks=talks2014 %}

        {% assign talks2013 = site.my_talks | where:'date', "2013" %}
        {% include talks_per_year.html year="2013" talks=talks2013 %}
    </div>
</div>
