---
layout: page
title: Gianluca Arbezzano - Developer
tags: [distributed system, monitoring, observability, automation,
developer, golang, go, kubernetes, cncf, ambassador, captain, docker]
summary: "Gianluca is a Software Engineer currently working on all things related to Kubernetes at Packet, a bare-metal cloud provider. I love to talk about distributed systems, testing, and infrastructure. When I am not coding, I blog at gianarb.it, or I ramble on [Twitter](@gianarb) about growing vegetables and gardening."
---
<div class="row">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-3">
                <img src="/img/me.jpg" class="img-fluid">
            </div>
            <div class="col-md-9">
                <p style="padding-top: 1em;"><span style="font-size:5em;font-weight: 700;">Welcome!</span>
                <span style="font-size:4.5em;line-height: 0.6em;">I am Gianluca Arbezzano.</span></p>
                <p>This is my person site. I use this space to share my
                knowledge, what I do and to keep track of interesting things
                around software development, scalability, linux. Sometime about
                life, work and growing vegetables.</p> <p>Just say hello to me via <a
                href="https://twitter.com/gianarb">twitter</a> and have a look
            at my <a href="/blog.html">posts</a>. Enjoy!</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h3>Latest posts <small><a href="/blog.html">go to older posts</a></small></h3>
        <div class="row">
          <div class="col-md-12">
              {% for post in site.categories['post'] %}
              {% if forloop.index > 5 %}
                  {% break %}
              {% endif %}
                  {% include short_post.html %}
              {% endfor %}
          </div>
        </div>
    </div>
</div>
