<div class="bs-callout bs-callout-info row">
	<div class="row">
		<div class="col-md-12">
			<h2><a href="//gianarb.it/blog/docker-the-fundamentals" target="_blank">get "Docker the Fundamentals"</a> <small>by. Drive your boat as a Captain</small></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<a href="//gianarb.it/blog/docker-the-fundamentals" target="_blank"><img src="/img/the-fundamentals.jpg" class="img-fluid"></a>
		</div>
		<div class="col-md-9">
			<p>
			You can get the Chapter 2 of the book <a href="/blog/scaledocker"
			target="_blank">"Drive your boat as a Captain"</a> just leave click on the
			cover and leave your email to receive a free copy.</p>
			<p>This chapter is getting started with Docker Engine and the basic
			concept around registry, pull, push and so on. It's a good way to start from
			zero with Docker.</p>
		</div>
	</div>
</div>
