<div class="bs-callout bs-callout-info row">
	<div class="row">
		<div class="col-md-12">
            <h2>Keep in touch with "Container Security"<small>by. <a href="http://scaledocker.com" target="_blank">Drive your boat as a Captain</a></small></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="/img/container-security.png" class="img-fluid">
		</div>
		<div class="col-md-9">
			<p>"Container Security" is a Chapter of "Driver your boat as a
				Captain". Leave your email to receive other articles related Container Security.</p>
			<!-- Begin MailChimp Signup Form -->
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
			<div id="mc_embed_signup">
			<form action="//gianarb.us2.list-manage.com/subscribe/post?u=03581a38fd820a06b0898c802&amp;id=35a9b9f10e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL"></label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_03581a38fd820a06b0898c802_35a9b9f10e" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
	</div>
</div>
