<div class="footer">
    <div class="container">
        <p class="text-muted">
            Generated {{ site.time | date: "%B %e, %Y" }} <a target="_blank" href="https://github.com/GianArb/gianarb.github.com/issues">Can you help me?</a>
        </p>
    </div>
</div>

<script>
var disqus_config = function () {
    this.page.url = '{{site.MY_URL}}{{page.url}}';
    this.page.identifier = '{{site.MY_URL}}{{page.url}}';
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://gianarbdeveloper.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
