<div class="footer text-center bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 small">
                last update {{ site.time | date: "%B %e, %Y" }} ·
                <a href="https://twitter.com/gianarb" target="_blank">twitter.com/gianarb</a> ·
                <a href="https://github.com/gianarb" target="_blank">github.com/gianarb</a> ·
                <a href="/atom.xml">Atom</a>
            </div>
        </div>
    </div>
</div>
