<head>
    <meta http-equiv="content-language" content="en">
    <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.summary }}">
    <meta name="keywords" content="{{page.tags | join: ', '}}">
    <meta name="google-site-verification" content="FoOIQ005srOjHlH19pNWapHvlOOVgCqHsz47IfQ6QNo" />
    <link rel="canonical" href="{{ site.MY_URL }}{{ page.url | replace:'index.html',''}}">
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:title' content="{{page.title}}">
    <meta name='twitter:description' content="{{page.summary}}">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="gianarb blog"/>
    <meta property="og:url" content="{{site.MY_URL}}{{page.url}}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
{% if page.img != null %}
    <meta property="og:image" content="{{site.MY_URL}}{{ page.img }}" />
    <meta name='twitter:image' content="{{site.MY_URL}}{{ page.img }}">
{% endif %}
{% if page.heroimg != null %}
    <meta property="og:image" content="" />
    <meta name='twitter:image' content="{{site.MY_URL}}{{ page.heroimg }}">
{% endif %}

    <meta property="twitter:account_id" content="129952408" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gianarb">
    <meta name="twitter:creator" content="@gianarb">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="twitter:image:src" content="{{site.MY_URL}}{{ page.img }}">
    <meta name="twitter:image:width" content="500">
    <meta name="twitter:image:height" content="500">
    <meta name="twitter:domain" content="gianarb.it">

    <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='/atom.xml'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github.min.css" rel="stylesheet">

    <!-- source https://github.com/rsms/inter/ -->
    <link href="/fonts/inter/inter-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
