<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-brand" href="#">
    <img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/blog.html" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="/conferences.html" class="nav-link">Conferences</a>
      </li>
      <li class="nav-item">
        <a href="https://scaledocker.com" target="_blank" class="nav-link">Books</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a target="_blank" href="http://github.com/gianarb" class="nav-link"><i class="fa fa-github-alt"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a target="_blank" href="http://twitter.com/GianArb" class="nav-link"><i class="fa fa-twitter"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a target="_blank" href="http://gianarb.it/atom.xml" class="nav-link"><i class="fa fa-rss"></i></a>-->
      <!--</li>-->
  </div>

</div>
</nav>
