<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" href="/">
            <a href="/" class="nav-link"><img src="/img/favicon.png" class="img-fluid d-inline-block align-top" alt=""></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/blog.html">Blog</a></li>
                <li class="nav-item"><a href="/conferences.html" class="nav-link">Conferences</a></li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLK7L&placement=gianarbit" id="_carbonads_js"></script>
                </li>
            </ul>

        </div> <!-- collapse -->

    </div> <!-- container fluild -->
</nav>
