<div class="navbar navbar navbar-fixed-top" id="top" role="navigation">
<div class="container">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	</div>
	<div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">gianarb's homepage</a></li>
            <li><a href="/conferences.html"><i class="fa fa-star-o"></i> conferences</a></li>
            <li><a target="_blank" href="http://gianarb.it/atom.xml"><i class="fa fa-rss"></i></a></li>
            <li><a target="_blank" href="/downloads/publickey-6292051F.asc">gpg key</a></li>
            <li><a target="_blank" href="http://github.com/gianarb"><i class="fa fa-github-alt"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/GianArb"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/gianlucarbezzano/en"><i class="fa fa-linkedin"></i></a></li>
        </ul>
	</div><!--/.nav-collapse -->
</div>
</div>
