<div class="row">
    <h3>Let's meet up <small><a href="/conferences.html">see other conferences</a></small></h3>

    <div class="col-md-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Talk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>19/04/2016</td>
              <td><a href="http://www.meetup.com/CurrencyFair-Engineering/events/229817208/" target="_blank">
                <img style="width: 76%;height: 100%;" class="conf img-responsive" src="/img/currencyfair.jpg">
              </a></td>
                  <td>Listen your infrastructure and please sleep</td>
            </tr>
            <tr>
              <td>21-22/05/2016</td>
              <td><a href="http://phpkonf.org/" target="_blank">
                <img style="width: 76%;height: 100%;" class="conf img-responsive" src="/img/conf/phpkonf.png">
              </a></td>
                  <td>Continuous delivery with Jenkins in the real world</td>
            </tr>
            <tr>
              <td>11/06/2016</td>
              <td><a href="http://2016.phpsouthcoast.co.uk/" target="_blank">
                <img style="width: 76%;height: 100%;" class="conf img-responsive" src="/img/conf/php-south-cost.png">
              </a></td>
                  <td>Parallel made easy</td>
            </tr>
            <tr>
              <td>13-15/06/2016</td>
              <td><a href="http://devopsconference.de" target="_blank">
                <img class="conf img-responsive" src="/img/conf/devopsconference.png">
              </a></td>
              <td>Listen your infrastructure and please sleep</td>
            </tr>
            <tr>
              <td>13-15/06/2016</td>
              <td><a href="http://devopsconference.de" target="_blank">
                <img class="conf img-responsive" src="/img/conf/devopsconference.png">
              </a></td>
              <td>AWS under the hood</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
