<!--<div class="row">
    <h3>Let's meet up <small><a href="/conferences.html">see other conferences</a></small></h3>

    <div class="col-md-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Talk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>13-15/06/2016</td>
              <td><a href="http://devopsconference.de" target="_blank">
                <img class="conf img-responsive" src="/img/conf/devopsconference.png">
              </a></td>
              <td>AWS under the hood</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>-->
