<div class="row">
    <h3>Next events <small>Nothing in program! Let me know if you need anything</small></h3>

    <!--<div class="col-md-12">-->
      <!--<table class="table table-hover">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>Date</th>-->
              <!--<th>Event</th>-->
              <!--<th>Talk</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
