---
layout: default
title: Assemble Kubernetes by a CNCF Ambassador
summary: Kubernetes is popular, flexible and powerful. A lot of people use it for ops, but it backed by code and its secret is the extendibility. I like to write code for Kubernetes. Custom Resource Definition, informers, operattor, crds, cluster-api, persistent volumes.
---
<div class="container">

    <div class="row mt-3">
        <div class="col-md-12">
            <h2>
                Assemble Kubernetes
                <small class="text-muted">I build with <3 on top of Kuberntes</small>
            </h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <img class="img-fluid" src="https://github.com/cncf/artwork/raw/master/other/ambassador/stacked/color/cncf-ambassador-stacked-color.png">
        </div>
        <div class="col-md-7 text-right">
            <blockquote class="blockquote">
                <p class="mb-0">Cloud Native Ambassadors (CNAs) are individuals who are passionate about Cloud
                Native Computing Foundation technology and projects, recognized for their
                expertise, and willing to help others learn about the framework and community.</p>
                <footer class="blockquote-footer">CNCF <cite title="cncf">website</cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="row mt-3">
        <h3>Things to know about</h3>
        <div class="col-md-12">
            <ul>
              <li><a href="https://github.com/profefe/kube-profefe" target="_blank">profefe/kube-profefe helps to implement continuous pprof profiling in Kubernetes</a></li>
              <li><a href="https://get.oreilly.com/ind_extending-kubernetes.html" target="_blank">Report I wrote for O'Reilly "Extending Kubernetes"</a></li>
              <li><a href="maito:ciao@gianarb.it" target="_blank">Do you need a kubernetes expert? Let's talk (happy to do OSS) <small>(no ops work, I am a coder)</small></a></li>
            </ul>
        </div>
    </div>

    <div id="blog" class="row  mt-3">
      <div class="col-md-12">
          <h3>Lesson learned along the way</h3>
          {% for post in site.categories['post'] %}
          {% if post.tags contains "kubeassemble" %}
              {% include post_detail.html %}
          {% endif %}
          {% endfor %}
      </div>
    </div>

</div>
