---
layout: default
title: Code Instrumentation
summary:
img: /img/got-your-back.jpg
---
<div class="container">
    <div class="row  mt-3">
      <div class="col-md-12">
          <h2>
              Code Instrumentation
             <a href="/planet/code-instrumentation.xml" target="_blank"><span style="font-size: 70%;color:#F78422"><i class="fas fa-rss"></i></span></a>
          </h2>
      </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-10 text-left">
            <blockquote class="blockquote">
                <p class="mb-0">If you instrument your code, watch it deploy,
                then ask “is it doing what I expect, does anything else look
                weird” as a habit?  You can build a system that is both
                understandable and well-understood.  If you can see what you’re
                doing, and catch errors swiftly, it never has to become a
                shitty hairball in the first place.  That is a choice.</p>
                <footer class="blockquote-footer">
                    Charity Major
                    <cite title="CTO Honeycomb.io"><a href="https://charity.wtf/2020/03/03/observability-is-a-many-splendored-thing/" target="_blank">OBSERVABILITY IS A MANY-SPLENDORED DEFINITION</a></cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 lead">
            <a href="/blog/why-code-instrumentation">Read about why</a> I am grouping my articles around this expecit "Code
            Intrumentation" category. Because it matters. It matters lot.
        </div>
    </div>

    <div id="blog" class="row  mt-3">
      <div class="col-md-12">
          <h3>Posts</h3>
          {% for post in site.categories['post'] %}
          {% if post.tags contains "codeinstrumentation" %}
              {% include post_detail.html %}
          {% endif %}
          {% endfor %}
      </div>
    </div>

</div>
