---
layout: default
title: Docker Planet by a DockerCaptain
summary: Docker Planet is a set of blogposts, resources and events about Docker
    and all the microservices and distributed system ecosystem. All contents are
    provided by a Docker Captains.
---
<div class="container">

        <div class="row">
          <div class="col-md-12">
                <h1>Oh captain, my captain!</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="slogan" class="row">
              <div class="col-md-3">
                <div class="text-center">
                    <img src="/img/captain.png" class="img-fluid" alt="Docker Captains are Docker experts
                    and leaders in their communities who demonstrate a commitment to
                    sharing their Docker knowledge with others"/>
                </div>
              </div>
              <div class="col-md-9">
                <blockquote class="blockquote">
                    <p class="mb-0">Docker Captains are Docker experts and leaders in their
                    communities who demonstrate a commitment to sharing their Docker
                    knowledge with others.</p>
                    <footer class="blockquote-footer">Docker Inc. <cite title="cncf">website</cite></footer>
                </blockquote>
              </div>
            </div>

            <hr class="style-two">
            <div id="blog" class="row">
              <div class="row">
                  <div class="col-md-12">
                      <h3>Read something about Docker</h3>
                      {% for post in site.categories['post'] %}
                      {% if post.tags contains "docker" %}
                          {% include post_detail.html %}
                      {% endif %}
                      {% endfor %}

                      <div class="row text-center">
                          <div class="col-md-12">
                            <a href="/blog.html" class="btn btn-lg btn-default">Read the blog</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4" style="background:#F1F1F1;min-height:100%">
                      <div class="row text-center">
                          <div class="col-md-12 text-center">
                            <h3 class="mt-3"><a href="https://scaledocker.com" target="_blank">ScaleDocker.com</a></h3>
                            <img style="margin: 0 auto; max-height:50%;" src="/img/container-security.png" class="img-fluid">
                            <p>Back in the day I wrote two ebook that I am
                            distributing for free. They are called ScaleDocker
                            and comes from my experience running Docker at high
                            scale in production. Feel free to have a look</p>
                          </div>
                      </div>

                  </div>
              </div>
            </div>
          </div>
        </div>
</div>
