---
layout: default
title: "MockMania"
summary: "MockMania is a collection of posts about Golang and testing. Unit
test, integration tests with various and popular open source libraries such as
client-go, kubernetes, zap, net/http"
---
<div class="container-fluid text-center">
  <img src="/img/golang-mockmania.png" class="fluid">
</div>

<div class="container">

    <div class="row mt-3">
        <div class="col-md-12">

        </div>
    </div>

    <div id="blog" class="row  mt-3">
      <div class="col-md-12">
          <h3>Posts</h3>
          {% for post in site.categories['post'] %}
          {% if post.tags contains "mockmania" %}
              {% include post_detail.html %}
          {% endif %}
          {% endfor %}
      </div>
    </div>

</div>
