<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/emojify.min.css">

        {% include ga.html %}
    </head>

    <body>
        {% include navigator.html %}
        <div class="container">
          <div class="starter-template">
            {{ content }}
            <div class="tday">
                <h3>Tweet of the day</h3>
                <blockquote align="center" class="twitter-tweet" lang="en"><p>[<a href="http://t.co/Ve5Yt6E2On">http://t.co/Ve5Yt6E2On</a>] <a href="https://t.co/5dlqjKoAOH">https://t.co/5dlqjKoAOH</a> Gianluca Arbezzano - Cname gianarb.it&#10;&#10;goodbye wordpress</p>&mdash; Gianluca Arbezzano (@GianArb) <a href="https://twitter.com/GianArb/statuses/483546728159649792">June 30, 2014</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {% include footer.html %}
          </div>
        </div>
    </body>

    <script src="/js/emojify.min.js"></script>
    <script>
      emojify.setConfig({
            emoticons_enabled: true,
            people_enabled: true,
            nature_enabled: true,
            objects_enabled: true,
            places_enabled: true,
            symbols_enabled: true
      });
      emojify.run();
      </script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
