<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        {% include ga.html %}
    </head>

    <body>
        {% include navigator.html %}
        <div class="container">
          <div class="starter-template">
            {{ content }}
          </div>
        </div>
        {% include footer.html %}
    </body>

    <script src="/js/emojify.min.js"></script>
    <script>
      emojify.setConfig({
            emoticons_enabled: true,
            people_enabled: true,
            nature_enabled: true,
            objects_enabled: true,
            places_enabled: true,
            symbols_enabled: true
      });
      emojify.run();
      </script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
