---
layout: default
---

<h1>{{ page.title }}</h1>
<main>
    <p class="meta">{{ page.date | date_to_string }} · {% include estimate-read-time.html %} · on <a href="/blog">Gianluca's blog</a></p>

    <p class="note"><strong>News!</strong> Tech related notes are NOW published
    to <a target="_blank"
    href="https://shippingbytes.com/category/tiny-lessons/">ShippingBytes</a>.
See you there! I always felt this was not the right place for me to write
consistently about tech and tools. So if you want to read more about that see
you at the other side</p>

<p style="display:none;" class="note" id="adv-sponsor">Hey! I see you use an adblocker as I do as
well! I use Carbon Adv to support this tiny website a network with developers
in mind. Please consider disabling the adblocker for this website to support my
work.</p>

    <article>
    {{ content }}
    </article>
</main>
