---
layout: default
---
{% if page.heroimg != null %}
<style>
.bgimage {
  background-image: url('{{ page.heroimg }}');
}
</style>
<section class="bgimage">
</section>
{% endif %}

<div class="container-fluid">
    <div class="row">
    <article class="col-md-6 offset-md-3">
        <div id="post-title" class="row mt-3">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="row">
            <p class="meta">{{ page.date | date_to_string }} - Tags: {{page.tags | join: ', '}}</p>
        </div>

        <div class="post">
            {{ content }}
        </div>
        <div class="keep">
            <div class="addthis_recommended_horizontal"></div>
        </div>
    </article>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b22e06669600af"></script>


