---
layout: default
---

<h1>{{ page.title }}</h1>
<main>
    <p class="meta">{{ page.date | date_to_string }} · {% include estimate-read-time.html %} · on <a href="/blog">Gianluca's blog</a> · <a href="https://gianarb.it/atom.xml">Subscribe via RSS</a></p>

    <article>
    {{ content }}
    </article>

    <section>
        <div class="row mt-3">
            <p class="note">If you want to have a chat about this blog post or everything
            else I do here you can find my <a href="http://lists.shippingbytes.com/archives/list/gianarb-public@lists.shippingbytes.com/" target="_blank">public inbox</a>. <a
        href="mailto:gianarb-public@lists.shippingbytes.com"
        target="_blank">Send an email</a>. That's all it takes and I hope you appreciate it. <br><span class="small">Based on how often you contribute it may take moderation before your email shows up in the archive</span></p>
        </div>
    </section>
</main>
